@model BLS_Inventory.Models.DownloadViewModel

@{
    ViewBag.Title = "Down Load BLS Inventory System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br/>
    <br />
    <table>
        <tr>
            <td colspan="3">
                In order to run BLS Inventory you MUST download and install the .NET Framework 4.5. 
            </td>
           
            <td>
                <a href="/Files/dotNetFx45_Full_setup.exe"><img src="/images/download.jpg" /></a>
            </td>
        </tr>
        <tr>
            <td rowspan="4">BLS Inventory</td>
            <td>
                @Html.Label("Maximum Installs:", htmlAttributes: new { @class = "control-label" })
            </td>
            <td>
                @Html.DisplayFor(model => model.MaxInstalls, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td rowspan="4">
                <a href="/Files/BLSInventory.zip"><img src="/images/download.jpg" /></a>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Current Installs:", htmlAttributes: new { @class = "control-label" })
            </td>
            <td>
                @Html.DisplayFor(model => model.CurInstalls, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Installed Version:", htmlAttributes: new { @class = "control-label" })
            </td>
            <td>
                @Html.DisplayFor(model => model.InstalledVersion, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Latest Version:", htmlAttributes: new { @class = "control-label" })
            </td>
            <td>
                @Html.DisplayFor(model => model.LatestVersion, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        </table>

}
